<style type="text/css">
a.markdown-btn {
   color: #fff;
   background-color: #40A02B;
   border-radius: 10px;
   text-align: center;
   padding: 5px 1em 5px 1em;
   text-decoration: none;
   border: none;
   cursor: pointer;

}

a.markdown-btn:link { color: #fff; }
a.markdown-btn:visited { color: #fff; }
a.markdown-btn:active, a.markdown-btn:hover {
   color: #fff;
   background-color: #368524;
   text-decoration: none;
}

.centered {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
</style>

{{ $ref := .Get "href" }}

<div class="centered">
<a href="{{ $ref }}" class="markdown-btn">{{- .Inner | safeHTML -}}</a>
</div>
