<style type="text/css">
.home-links {
   font-size: 20px;
   list-style:none;
}

.home-links li {
   margin: 10px 0;
}

.icon {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   color: #0055bb;
   line-height: 1;
   letter-spacing: normal;
   text-transform: none;
   display: inline-block;
   white-space: nowrap;
   word-wrap: normal;
   direction: ltr;
   -moz-font-feature-settings: 'liga';
   -moz-osx-font-smoothing: grayscale;
   padding-right: 0.75ex;
   vertical-align: top;
}

/* Dark theme */
@media (prefers-color-scheme:dark) {
   .icon {
      color: #84b2ff;
   }
}


</style>
<ul class="home-links">
   <li>
      <a href="{{ (.Site.GetPage "about").RelPermalink }}">
         <span class="icon">groups</span>About
      </a>
   </li>
   <li>
      <a href="{{ (.Site.GetPage "docs/tutorial.md").RelPermalink }}">
         <span class="icon">pin_drop</span>Getting Started (Tutorial)
      </a>
   </li>
   <li>
      <a href="{{ (.Site.GetPage "docs").RelPermalink }}">
         <span class="icon">menu_book</span>Documentation
      </a>
   </li>
   <li>
      <a href="{{ (.Site.GetPage "contact-us").RelPermalink }}">
         <span class="icon">mail</span>Contact Us
      </a>
   </li>
</ul>
