/* Style for 'about' shortcode */
.about-box {
   padding: 18px;
   line-height: 24px;
   border-radius: 4px;
   background: #eff8ff;
   border-left: 4px solid #006090;
   margin-bottom: 12px;
}

.notice {
   color: #000 !important;
}

/* Dark theme */
@media (prefers-color-scheme:dark) {
   .about-box {
      color: #ddd;
      background: #023;
   }

   .notice {
      color: #ddd !important;
   }
}

/* Full-width logo in top-left of page. */
.book-brand img {
   width: 100%;
   height: auto;
}

/* Override justification of menu item to place disclosure triangles closer to
menu text. */
.book-menu {
   .justify-between
   {
      justify-content: flex-start;
   }
   input.toggle + label::after {
      content: "▸";
      padding-left: 1ex;
   }
   input.toggle:checked + label::after {
      content: "▾";
      padding-left: 1ex;
   }
}

.no-wrap-col-1 td:nth-of-type(1) { white-space: nowrap; }
.no-wrap-col-2 td:nth-of-type(2) { white-space: nowrap; }

/* Style for 'button' shortcode */
a.markdown-btn {
   color: #fff;
   background-color: #40A02B;
   border-radius: 10px;
   text-align: center;
   padding: 5px 1em 5px 1em;
   text-decoration: none;
   border: none;
   cursor: pointer;
}

a.markdown-btn:link { color: #fff; }
a.markdown-btn:visited { color: #fff; }
a.markdown-btn:active, a.markdown-btn:hover {
   color: #fff;
   background-image: linear-gradient(RGB(0 0 0/20%) 0 0);
   text-decoration: none;
}

.centered {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

/* Style for codeblocks */

/* Syntax highlighting style */
/* @import "chroma.scss"; */

figure.codeblock {
   font-size: 0.875rem;
}

figcaption.codeblock-header {
   background-color: #555;
   color: #eee;
   font-weight: bold;
   padding-left: 1em;
   padding-top: 0.25em;
   padding-bottom: 0.25em;
   border: 1px solid #888;
   border-radius: 0;
   border-bottom: 0px;
}

.codeblock-header-title {
   font-size: 0.875rem;
   font-weight: bold;
}

.codeblock-header-filename {
   font-weight: bold;
   font-size: 0.875rem;
}

.codeblock-header-fileicon {
   font-family: 'Material Icons';
   font-weight: normal;
   font-size: 1.5em;
   margin-right: 0.25em;
   line-height: 1;
   display: inline-block;
   vertical-align: -3px;
}

pre.codeblock-with-header {
  margin-top: 0;
}

pre.chroma {
   border: 1px solid #888;
   border-radius: 0;
   padding-top: 0.7em;
   padding-bottom: 0.7em;
}
