.home-links {
   font-size: 20px;
   list-style:none;
}

.home-links li {
   margin: 10px 0;
}

.book-brand img {
   width: 100%;
   height: auto;
}

.icon {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   color: #0055bb;
   line-height: 1;
   letter-spacing: normal;
   text-transform: none;
   display: inline-block;
   white-space: nowrap;
   word-wrap: normal;
   direction: ltr;
   -moz-font-feature-settings: 'liga';
   -moz-osx-font-smoothing: grayscale;
   padding-right: 0.75ex;
   vertical-align: top;
}

.about-box {
   padding: 18px;
   line-height: 24px;
   border-radius: 4px;
   color: #444;
   background: #e7f2fa;
}

.book-menu {
   // Override justification of menu item to place disclosure triangles closer
   // to menu text
   .justify-between
   {
      justify-content: flex-start;
   }
   input.toggle + label::after {
      content: "▸";
      padding-left: 1ex;
   }
   input.toggle:checked + label::after {
      content: "▾";
      padding-left: 1ex;
   }
}
