/* Style for 'about' shortcode */
.about-box {
   padding: 18px;
   line-height: 24px;
   border-radius: 4px;
   color: #444;
   background: #e7f2fa;
}

/* Dark theme */
@media (prefers-color-scheme:dark) {
   .about-box {
      color: #ddd;
      background: #023;
   }
}

/* Full-width logo in top-left of page. */
.book-brand img {
   width: 100%;
   height: auto;
}

/* Override justification of menu item to place disclosure triangles closer to
menu text. */
.book-menu {
   .justify-between
   {
      justify-content: flex-start;
   }
   input.toggle + label::after {
      content: "▸";
      padding-left: 1ex;
   }
   input.toggle:checked + label::after {
      content: "▾";
      padding-left: 1ex;
   }
}
